#!/usr/bin/env python
PACKAGE = 'rotation_shim_controller'
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("controller_frequency", double_t, 0, "Control frequency apply for linear velocity scale.", 20.0, 1.0, 50.0)
gen.add("forward_sampling_distance", double_t, 0, "Forward distance, in meters, along path to select a sampling point to use to approximate path heading.", 0.5, 0.1, 20.0)
gen.add("angular_dist_threshold", double_t, 0, "Maximum angular distance, in radians, away from the path heading to trigger rotation until within.", 0.785, 0.1, 2.0)
gen.add("angular_vel_scaling_angle", double_t, 0, "", 0.1, 0.26, 1.0);
gen.add("angle_scaling_factor", double_t, 0, "", 0.1, 0.8, 5.0);
gen.add("max_angular_vel", double_t, 0, "", 0.1, 0.4, 1.0);
gen.add("min_angular_vel", double_t, 0, "", 0.1, 0.1, 0.5);
gen.add("simulate_ahead_time", double_t, 0, "Time in seconds to forward simulate a rotation command to check for collisions. If a collision is found, forwards control back to the primary controller plugin.", 1.0, 0.1, 10.0)

exit(gen.generate(PACKAGE, "rotation_shim_controller", "RotationShimController"))